* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
    padding: 2px;
}

h1 {
    border-bottom: 1px solid gainsboro;
}

body {
    font-family: $content-font;
}

.container {
    padding-top: 2rem;
    margin-left: 20vw;
}

a {
    background: rgba($secondary-colour, 0.25);
    text-decoration: none;
    margin: 0.3rem;
    color: inherit;

    &:hover {
        background: none;
        text-decoration: underline;
        color: $secondary-colour;
    }
}
