* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
    padding: 2px;
    margin-bottom: 1.1rem;
}

h1 {
    border-bottom: 1px solid $gainsboro;
}

body {
    font-family: $content-font;
}

.container {
    padding-top: 2rem;
    margin-left: 20vw;
}

a {
    text-decoration: none;
    margin: 0.3rem;
    color: inherit;

    &:hover {
        background: none;
        text-decoration: underline;
        color: $dark-compliment;
    }
}

input {
    outline: 0;
    padding: 0.5rem;
    border: 2px solid $gainsboro;
    border-radius: 3px;
    font-size: 1.3rem;
    margin: 0.2rem 0 0.2rem;

    &:focus {
        border: 2px solid $primary-colour;
    }
}

button {
    background: white;
    border-radius: 3px;
    border: 2px solid $gainsboro;
    padding: 0.5rem;

    &:hover {
        background: $secondary-colour;
        color: white;
        cursor: pointer;
    }
}
