nav {
    min-width: 7vw;
    max-width: 9vw;
    height: calc(100vh - 2.2em);
    position: fixed;
    background: $grey;
    color: $white;
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.2em 0.5em 2.2em;

    h1 a {
        text-align: center;
    }

    #nav__items {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        height: 90%;

        a {
            display: block;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid white;

        }
    }

    a {
        background: none;
    }

    i {
        text-align: center;
        width: 100%;
        font-size: 1.6rem;
        margin-right: 0.2em;
    }

    .nav__support-text {
        background: $grey;
        width: auto;
        padding: 0.2em;
        vertical-align: middle;
        text-align: center;
    }
}
