nav {
    min-width: 7vw;
    max-width: 9vw;
    height: calc(100vh - 2.2em);
    position: fixed;
    background: $grey;
    color: $white;
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.2em 0.5em 2.2em;

    h1 a {
        text-align: center;
    }

    #nav__items {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;

        a {
            display: table;
        }
    }

    a {
        background: none;
    }

    i {
        font-size: 2.6rem;
        margin-right: 0.2em;
    }

    .nav__support-text {
        background: $grey;
        width: auto;
        padding: 0.2em;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
    }
}
