// = COLOURS =
$primary-colour: #a4d4b4;
$secondary-colour: #ffcf9c;
$grey: #5a253e;
$white: rgba(white, 0.8);

// = TYPOGRAPHY =
$display-font: "Raleway", sans-serif;
$content-font: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
