/* ==== FONTS ==== */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
/* ==== VARIABLES ==== */
/* ==== SCSS FILE IMPORTS ==== */
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  padding: 2px; }

h1 {
  border-bottom: 1px solid gainsboro; }

body {
  font-family: sans-serif; }

.container {
  padding-top: 2rem;
  margin-left: 20vw; }

a {
  background: rgba(255, 207, 156, 0.25);
  text-decoration: none;
  margin: 0.3rem;
  color: inherit; }
  a:hover {
    background: none;
    text-decoration: underline;
    color: #ffcf9c; }

nav {
  min-width: 7vw;
  max-width: 9vw;
  height: calc(100vh - 2.2em);
  position: fixed;
  background: #56709b;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.2em 0.5em 2.2em; }
  nav h1 a {
    text-align: center; }
  nav #nav__items {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 90%; }
    nav #nav__items a {
      display: block;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid white; }
  nav a {
    background: none; }
  nav i {
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    margin-right: 0.2em; }
  nav .nav__support-text {
    background: #56709b;
    width: auto;
    padding: 0.2em;
    vertical-align: middle;
    text-align: center; }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); }
