/* ==== FONTS ==== */
@import url("https://fonts.googleapis.com/css?family=Raleway:400|Rubik");
/* ==== VARIABLES ==== */
/* ==== SCSS FILE IMPORTS ==== */
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  padding: 2px;
  margin-bottom: 1.1rem; }

h1 {
  border-bottom: 1px solid #bed8d4; }

body {
  font-family: "Rubik", sans-serif; }

.container {
  padding-top: 2rem;
  margin-left: 20vw; }

a {
  text-decoration: none;
  margin: 0.3rem;
  color: inherit; }
  a:hover {
    background: none;
    text-decoration: underline;
    color: #0582ca; }

input {
  outline: 0;
  padding: 0.5rem;
  border: 2px solid #bed8d4;
  border-radius: 3px;
  font-size: 1.3rem;
  margin: 0.2rem 0 0.2rem; }
  input:focus {
    border: 2px solid #a4d4b4; }

button {
  background: white;
  border-radius: 3px;
  border: 2px solid #bed8d4;
  padding: 0.5rem; }
  button:hover {
    background: #ffcf9c;
    color: white;
    cursor: pointer; }

nav {
  min-width: 8rem;
  max-width: 9vw;
  height: calc(100vh - 2.2em);
  position: fixed;
  background: #5a253e;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.2em 0.5em 2.2em; }
  nav h1 a {
    text-align: center; }
  nav #nav__sections {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90%; }
  nav #nav__items {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; }
    nav #nav__items a {
      display: block;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid white; }
  nav a {
    background: none; }
    nav a:hover {
      color: #ffcf9c; }
  nav i {
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    margin-right: 0.2em; }
  nav .nav__support-text {
    background: #5a253e;
    width: auto;
    padding: 0.2em;
    vertical-align: middle;
    text-align: center; }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); }
