// = COLOURS =
$primary-colour: rebeccapurple;
$secondary-colour: crimson;

// = TYPOGRAPHY =
$display-font: "Raleway", sans-serif;
$content-font: serif, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
